.ck-editor__editable {
	min-height: 200px;
}

.react-datepicker-popper {
	z-index: 99999;
}

body.modal-open {
	overflow: hidden;
}

.custom-form-feedback {
	width: 100%;
	@extend .mt-1;
	font-size: 80%;
	color: #f46a6a;
}

.react-datepicker__input-container {
	.is-invalid {
		background-position: right 0.25rem center;
	}

	.is-invalid + .react-datepicker__close-icon:after {
		background-color: #f46a6a;
	}
}

.select-highlight {
	@extend .rounded;
	@extend .bg-info;
}

.active-link {
	color: #556ee6 !important;
}

.react-bootstrap-table {
	th {
		&.sortable {
			cursor: pointer;
		}

		&.sorting-asc span {
			margin-left: 0.5rem;

			&:before {
				font-weight: 900;
				content: '\f160';
				font-family: 'Font Awesome 5 Free';
			}
		}

		&.sorting-desc span {
			margin-left: 0.5rem;

			&:before {
				font-weight: 900;
				content: '\f161';
				font-family: 'Font Awesome 5 Free';
			}
		}
	}
}

.date-filter,
.filter-label {
	margin: 0;
}

.date-filter {
	#date-filter-column-birthdate {
		width: 100%;
	}

	.filter-label {
		margin: 0 0.5rem 0 0;

		& + label {
			margin: 0;
		}
	}
}

label.required-field {
	&::after {
		content: '*';
		color: #f46a6a;
		margin-left: 1px;
	}
}
