.sidebar-item {
	color: #7f8387;
	padding: 0.625rem 1.5rem;
}

.sidebar-title-label {
	display: flex;
	align-items: center;
	column-gap: 1.25rem;
	@extend .sidebar-item;

	& .sidebar-title {
		flex: 1 1 auto;
		font-size: 1rem;
	}
}

.sidebar-icon {
	color: #7f8387;
	font-size: 1.25rem;
	vertical-align: middle;
}

.sidebar-menu {
	color: #7f8387;

	&__group {
		z-index: 9;
		position: relative;
		background-color: #fff;
	}

	&__title {
		display: flex;
		color: inherit;
		align-items: center;
		column-gap: 1.25rem;
		padding: 0.5rem 1.5rem;

		&-label {
			flex: 1 1 auto;
			font-size: 1rem;
		}

		&-arrow::before {
			vertical-align: middle;
			font-size: 1.5rem !important;
		}

		&:hover {
			color: #556ee6 !important;
		}
	}

	&__list {
		list-style: none;
		margin: 0 !important;
		padding-left: 0.75rem;

		&-item {
			padding: 0.5rem 1.5rem;

			&:hover {
				color: #556ee6 !important;
			}
		}

		&-link {
			display: flex;
			color: inherit;
			column-gap: 0.5rem;
			align-items: center;
		}

		&-label {
			font-size: 1rem;
		}

		&-icon {
			font-size: 1.25rem;
			vertical-align: middle;
		}
	}
}
