//
// Select 2
//

.select2-container {
	.select2-selection--single {
		background-color: $input-bg;
		border: 1px solid $input-border-color;
		height: 38px;

		&:focus {
			outline: none;
		}

		.select2-selection__rendered {
			line-height: 36px;
			padding-left: $input-padding-x;
			color: $input-color;
		}

		.select2-selection__arrow {
			height: 34px;
			width: 34px;
			right: 3px;

			b {
				border-color: $gray-500 transparent transparent transparent;
				border-width: 6px 6px 0 6px;
			}
		}

		.select2-selection__placeholder {
			color: $body-color;
		}
	}
}

.select2-container--open {
	.select2-selection--single {
		.select2-selection__arrow {
			b {
				border-color: transparent transparent $gray-500 transparent !important;
				border-width: 0 6px 6px 6px !important;
			}
		}
	}
}

.select2-container--default {
	.select2-search--dropdown {
		padding: 10px;
		background-color: $dropdown-bg;

		.select2-search__field {
			border: 1px solid $input-border-color;
			background-color: $input-bg;
			color: $gray-600;
			outline: none;
		}
	}

	.select2-results__option--highlighted[aria-selected] {
		background-color: $primary;
	}

	.select2-results__option[aria-selected='true'] {
		background-color: $dropdown-link-active-bg;
		color: $dropdown-link-active-color;

		&:hover {
			background-color: $primary;
			color: $white;
		}
	}
}

.select2-results__option {
	padding: 6px 12px;
}

.select2-container[dir='rtl'] .select2-selection--single .select2-selection__rendered {
	padding-left: $input-padding-x;
}

.select2-dropdown {
	border: 1px solid $dropdown-border-color;
	background-color: $dropdown-bg;
	box-shadow: $box-shadow;
}

.select2-search {
	input {
		border: 1px solid $gray-300;
	}
}

.select2-container {
	.select2-selection--multiple {
		min-height: 38px;
		background-color: $input-bg;
		border: 1px solid $input-border-color !important;

		.select2-selection__rendered {
			padding: 2px $input-padding-x;
		}

		.select2-search__field {
			border: 0;
			color: $input-color;

			&::placeholder {
				color: $input-color;
			}
		}

		.select2-selection__choice {
			background-color: $gray-200;
			border: 1px solid $gray-300;
			border-radius: 1px;
			padding: 0 7px;
		}
	}
}

.select2-container--default {
	&.select2-container--focus {
		.select2-selection--multiple {
			border-color: $gray-400;
		}
	}

	.select2-results__group {
		font-weight: $font-weight-semibold;
	}
}

// ajax select

.select2-result-repository__avatar {
	float: left;
	width: 60px;
	margin-right: 10px;

	img {
		width: 100%;
		height: auto;
		border-radius: 2px;
	}
}

.select2-result-repository__statistics {
	margin-top: 7px;
}

.select2-result-repository__forks,
.select2-result-repository__stargazers,
.select2-result-repository__watchers {
	display: inline-block;
	font-size: 11px;
	margin-right: 1em;
	color: $gray-500;

	.fa {
		margin-right: 4px;

		&.fa-flash {
			&::before {
				content: '\f0e7';
				font-family: 'Font Awesome 5 Free';
			}
		}
	}
}

.select2-results__option--highlighted {
	.select2-result-repository__forks,
	.select2-result-repository__stargazers,
	.select2-result-repository__watchers {
		color: rgba($white, 0.8);
	}
}

.select2-result-repository__meta {
	overflow: hidden;
}

// templating-select

.img-flag {
	margin-right: 7px;
	height: 15px;
	width: 18px;
}

.select2-selection__control {
	background-color: $input-bg !important;
	border-color: $input-border-color !important;
}

.select2-selection__indicator-separator {
	background-color: $input-border-color !important;
}

.select2-selection__indicator {
	//svg {
	//	fill: $input-color !important;
	//}
}

.select2-selection__placeholder {
	color: $input-placeholder-color !important;
}

.select2-selection__menu {
	background-color: $dropdown-bg !important;
}

.select2-selection {
	//.select2-selection__control{
	//  &.is-open {
	//    border-color: $component-active-bg;
	//  }
	//
	//  &.is-focused {
	//    border-color: $component-active-bg;
	//    box-shadow: 0 0 0 $input-focus-width rgba($component-active-bg, .25);
	//  }
	//
	//  &.is-focused:not(.is-open) {
	//    border-color: $component-active-bg;
	//    box-shadow: 0 0 0 $input-focus-width rgba($component-active-bg, .25);
	//  }
	//
	//  &.is-open > .select2-selection {
	//    border-color: $component-active-bg;
	//  }
	//}

	&.valid {
		.select2-selection__control {
			border-color: $form-feedback-valid-color;

			&--is-open {
				border-color: $form-feedback-valid-color;
			}

			&--is-focused {
				border-color: $form-feedback-valid-color;
				box-shadow: 0 0 0 $input-focus-width rgba($form-feedback-valid-color, 0.25);
			}

			&--is-focused:not(.is-open) {
				border-color: $form-feedback-valid-color;
				box-shadow: 0 0 0 $input-focus-width rgba($form-feedback-valid-color, 0.25);
			}

			&--is-open > .Select-menu-outer {
				border-color: $form-feedback-valid-color;
			}
		}

		.select2-selection__indicator {
			background: none !important;

			svg {
				path {
					display: initial;
				}
			}
		}
	}

	&.invalid {
		.select2-selection__control {
			border-color: $form-feedback-invalid-color !important;

			&--is-open {
				border-color: $form-feedback-invalid-color;
			}

			&--is-focused {
				border-color: $form-feedback-invalid-color !important;
				box-shadow: 0 0 0 0.15rem rgb(244, 106, 106, 0.25) !important;
			}

			&--is-focused:not(.menu-is-open) {
				border-color: $form-feedback-invalid-color;
				box-shadow: 0 0 0 0.15rem rgb(244, 106, 106, 0.25) !important;
			}

			&--menu-is-open > .Select-menu-outer {
				border-color: $form-feedback-invalid-color;
			}
		}

		.select2-selection__indicator {
			background-position: center;
			background-repeat: no-repeat;
			color: $form-feedback-invalid-color;
			background-size: calc(0.75em + 0.47rem) calc(0.75em + 0.47rem);
			background-image: url('../../../images/attention.svg') !important;

			svg {
				path {
					display: none;
				}
			}
		}

		.select2-selection__indicator-separator {
			background-color: $form-feedback-invalid-color !important;
		}
	}
}
