.form-loading {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	height: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	background-color: rgba(44, 44, 44, 0.25);
	@supports (backdrop-filter: blur(1px)) {
		backdrop-filter: blur(1px);
	}
}

.spinner-wrapper {
	height: 100%;
	display: flex;
	align-items: center;
	align-self: flex-start;
}

@supports selector(.card:has(.card .card-body .form-loading)) {
	.card:has(.form-loading) {
		overflow: hidden;
	}
}

:where(.card .card-body .form-loading),
.card {
	overflow: hidden;
}
